In [1]:
import io
import sqlite3
import pandas as pd

In [2]:
!wget --quiet -P /tmp/ibd https://raw.githubusercontent.com/abnermneves/ibd/master/tp1/despesas.sql

In [3]:
conn = sqlite3.connect('despesas.db')
cursor = conn.cursor()

In [4]:
f = io.open('despesas.sql', 'r', encoding='UTF-8')
sql = f.read()
cursor.executescript(sql)

OperationalError: table [ORGAO] already exists

In [5]:
despesa = pd.read_sql_query('SELECT * FROM DESPESA_PUBLICA', conn)
orgao = pd.read_sql_query('SELECT * FROM ORGAO', conn)
programa = pd.read_sql_query('SELECT * FROM PROGRAMA_GOVERNO', conn)
funcao = pd.read_sql_query('SELECT * FROM FUNCAO', conn)
detalhamento = pd.read_sql_query('SELECT * FROM DETALHAMENTO_FUNCAO', conn)
subfuncao= pd.read_sql_query('SELECT * FROM SUBFUNCAO', conn)

<h1>Consulta 1</h1>

In [ ]:
c1 = pd.read_sql_query("SELECT COD_SUBFUNCAO, NOME_SUBFUNCAO FROM DETALHAMENTO_FUNCAO NATURAL JOIN FUNCAO NATURAL JOIN SUBFUNCAO WHERE COD_FUNCAO = (SELECT CF FROM (SELECT *, MAX(QNTDSF) FROM (SELECT COD_FUNCAO AS CF, COUNT() AS QNTDSF FROM DETALHAMENTO_FUNCAO as DF GROUP BY CF)))", conn)
c1

<h1>Consulta 6</h1>

In [ ]:
c6 = pd.read_sql_query("select NOME_FUNCAO, NOME_SUBFUNCAO, SUM(VALOR_DESPESA) as VALOR_TOTAL from FUNCAO natural join DETALHAMENTO_FUNCAO natural join SUBFUNCAO natural join DESPESA_PUBLICA as DP natural join PROGRAMA_GOVERNO as PG where PG.NOME_PROGRAMA_GOVERNO = 'MAIS MEDICOS' and ANO_DESPESA = 2018 and MES_DESPESA < 10 and MES_DESPESA > 6 group by COD_SUBFUNCAO", conn)
c6

<h1>Consulta 5</h1>

In [ ]:
c5 = pd.read_sql_query("select COD_PROGRAMA_GOVERNO, NOME_PROGRAMA_GOVERNO from (select *, SUM(VALOR_DESPESA) as DESPESAS_TOTAIS from FUNCAO natural join DETALHAMENTO_FUNCAO natural join DESPESA_PUBLICA natural join PROGRAMA_GOVERNO where NOME_FUNCAO = 'Educação' and ANO_DESPESA = 2018 group by COD_PROGRAMA_GOVERNO order by DESPESAS_TOTAIS desc limit 3)", conn)
c5

<h1>Consulta 7</h1>

In [23]:
c7 = pd.read_sql_query("select NOME_ORGAO, count(distinct COD_PROGRAMA_GOVERNO) as QNTD_PROGRAMAS_GOVERNO from ORGAO natural join DESPESA_PUBLICA natural join PROGRAMA_GOVERNO where VALOR_DESPESA > 0 group by COD_ORGAO", conn)
c7

                                      NOME_ORGAO  QNTD_PROGRAMAS_GOVERNO
0  Ministério da Agricultura, Pecuária e Abastec                       2
1                         Ministério da Educação                       4
2                            Ministério da Saúde                       2
3                           Ministério da Defesa                       2
4           Ministério do Desenvolvimento Social                       1

<h1>Consulta 2</h1>

In [30]:
c2 = pd.read_sql_query("select NOME_FUNCAO, NOME_SUBFUNCAO, sum(VALOR_DESPESA) as DESPESAS_TOTAIS from DESPESA_PUBLICA natural join DETALHAMENTO_FUNCAO natural join FUNCAO natural join SUBFUNCAO group by COD_FUNCAO, COD_SUBFUNCAO having DESPESAS_TOTAIS > 200000", conn)
c2

          NOME_FUNCAO           NOME_SUBFUNCAO  DESPESAS_TOTAIS
0  Assistência social  Assistência comunitária        227883.77
1            Educação          Educação básica        334262.06

<h1>Consulta 8</h1>

In [32]:
c8 = pd.read_sql_query("select NOME_PROGRAMA_GOVERNO, NOME_SUBFUNCAO, count(COD_DESPESA) as QNTD_DESPESAS, sum(VALOR_DESPESA) as DESPESAS_TOTAIS from PROGRAMA_GOVERNO natural join DESPESA_PUBLICA natural join DETALHAMENTO_FUNCAO natural join SUBFUNCAO group by COD_PROGRAMA_GOVERNO, COD_SUBFUNCAO", conn)
c8

,NOME_PROGRAMA_GOVERNO,NOME_SUBFUNCAO,QNTD_DESPESAS,DESPESAS_TOTAIS
0,VIVER SEM LIMITE,Normatização e fiscalização,11,0.00
1,VIVER SEM LIMITE,Assistência ao portador de deficiência,5,0.00
2,VIVER SEM LIMITE,Assistência comunitária,19,0.00
3,VIVER SEM LIMITE,Atenção básica,18,0.00
4,VIVER SEM LIMITE,Assistência hospitalar e ambulatorial,56,0.00
5,VIVER SEM LIMITE,Ensino superior,19,0.00
6,VIVER SEM LIMITE,Educação básica,1,0.00
7,VIVER SEM LIMITE,Desenvolvimento científico,8,0.00
8,VIVER SEM LIMITE,Desenvolvimento tecnológico e engenharia,11,0.00
9,VIVER SEM LIMITE,Transferências para a educação básica,2,0.00
10,SOS EMERGENCIA,Assistência hospitalar e ambulatorial,3,0.00
11,MELHOR EM CASA,Atenção básica,1,0.00
12,MELHOR EM CASA,Assistência hospitalar e ambulatorial,15,0.00
13,UBS,Atenção básica,9,0.00
14,"UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...",Assistência hospitalar e ambulatorial,12,0.00
15,REDE CEGONHA,Assistência hospitalar e ambulatorial,38,1210.00
16,CONTROLE DO CANCER,Assistência hospitalar e ambulatorial,40,38971.19
17,CIENCIA SEM FRONTEIRAS,Ensino superior,12,0.00
18,CIENCIA SEM FRONTEIRAS,Desenvolvimento científico,12,0.00
19,CRIMINALIDADE VIOLENTA,Policiamento,1,0.00
20,ENEM,Educação básica,53,334262.06
21,PROVA BRASIL,Educação básica,22,0.00
22,PRONATEC,Ensino profissional,33,60262.46
23,GESTAO AEROPORTUARIA,Administração geral,18,0.00
24,DESASTRES NATURAIS,Defesa civil,6,0.00
25,DESASTRES NATURAIS,Desenvolvimento científico,4,0.00
26,CADEIAS PUBLICAS,Custódia e reintegração social,9,0.00
27,OLIMPIADAS,Defesa terrestre,8,0.00
28,OLIMPIADAS,Informação e inteligência,5,0.00
29,SINESP,Policiamento,9,0.00
...,...,...,...,...
35,"CRACK, E POSSIVEL VENCER",Assistência comunitária,12,0.00
36,"CRACK, E POSSIVEL VENCER",Atenção básica,5,0.00
37,"CRACK, E POSSIVEL VENCER",Assistência hospitalar e ambulatorial,19,0.00
38,"CRACK, E POSSIVEL VENCER","Direitos individuais, coletivos e difusos",46,0.00
39,BRASIL SEM MISERIA,Tecnologia da informação,26,58918.28
40,BRASIL SEM MISERIA,Comunicação social,1,0.00
41,BRASIL SEM MISERIA,Assistência comunitária,117,227883.77
42,BRASIL SEM MISERIA,Alimentação e nutrição,112,100373.55
43,BRASIL SEM MISERIA,Fomento ao trabalho,1,0.00
44,BRASIL SEM MISERIA,Educação infantil,2,0.00
45,BRASIL SEM MISERIA,Saneamento básico rural,27,0.00
46,BRASIL SEM MISERIA,Preservação e conservação ambiental,1,0.00
47,BRASIL SEM MISERIA,Recursos hídricos,34,0.00
48,BRASIL SEM MISERIA,Difusão do conhecimento científico e tecnológico,13,0.00
49,BRASIL SEM MISERIA,Extensão rural,17,0.00
50,BRASIL SEM MISERIA,Promoção comercial,18,0.00
51,BRASIL SEM MISERIA,Outros encargos especiais,12,0.00
52,REGULARIZACAO FUNDIARIA,Normatização e fiscalização,2,0.00
53,REGULARIZACAO FUNDIARIA,Ordenamento territorial,29,1497.26
54,REGULARIZACAO FUNDIARIA,Reforma agrária,11,0.00
55,SATELITE (TELEBRAS),Desenvolvimento tecnológico e engenharia,7,0.00
56,ENAFRON,Policiamento,14,0.00
57,VIOLENCIA NO TRANSITO,Policiamento,15,0.00
58,SEGURO RURAL PRIVADO,Promoção da produção agropecuária,10,0.00
59,PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...,Atenção básica,2,0.00
60,MAIS MEDICOS,Administração geral,12,0.00
61,MAIS MEDICOS,Formação de recursos humanos,2,0.00
62,MAIS MEDICOS,Atenção básica,43,12000.00
63,MAIS MEDICOS,Assistência hospitalar e ambulatorial,8,0.00
64,MAIS MEDICOS,Ensino superior,25,2400.00

In [6]:
orgao

,COD_ORGAO,NOME_ORGAO,QTD_ORGAOS_SUBORDINADOS
0,20000,Presidência da República,2
1,22000,"Ministério da Agricultura, Pecuária e Abastec",5
2,24000,"Ministério da Ciência, Tecnologia, Inovações",4
3,25000,Ministério da Fazenda,3
4,26000,Ministério da Educação,104
5,30000,Ministério da Justiça e Segurança Pública,6
6,35000,Ministério das Relações Exteriores,1
7,36000,Ministério da Saúde,3
8,39000,"Ministério dos Transportes, Portos e Aviação",2
9,44000,Ministério do Meio Ambiente,2
10,52000,Ministério da Defesa,4
11,53000,Ministério da Integração Nacional,4
12,55000,Ministério do Desenvolvimento Social,2
13,81000,Ministério dos Direitos Humanos,1

In [7]:
programa

    COD_PROGRAMA_GOVERNO                              NOME_PROGRAMA_GOVERNO
0                      1                                   VIVER SEM LIMITE
1                      2                                     SOS EMERGENCIA
2                      3                                     MELHOR EM CASA
3                      4                                                UBS
4                      5  UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...
5                      6                                       REDE CEGONHA
6                      7                                 CONTROLE DO CANCER
7                      8                             CIENCIA SEM FRONTEIRAS
8                      9                             CRIMINALIDADE VIOLENTA
9                     11                                               ENEM
10                    12                                       PROVA BRASIL
11                    14                                           PRONATEC
12                    16                               GESTAO AEROPORTUARIA
13                    17                                 DESASTRES NATURAIS
14                    18                                   CADEIAS PUBLICAS
15                    19                                         OLIMPIADAS
16                    21                                             SINESP
17                    22                           TERRITORIOS DA CIDADANIA
18                    23                           CRACK, E POSSIVEL VENCER
19                    24                                 BRASIL SEM MISERIA
20                    25                            REGULARIZACAO FUNDIARIA
21                    27                                SATELITE (TELEBRAS)
22                    28                                            ENAFRON
23                    29                              VIOLENCIA NO TRANSITO
24                    30                               SEGURO RURAL PRIVADO
25                    34  PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...
26                    35                                       MAIS MEDICOS

In [8]:
despesa

,COD_DESPESA,COD_ORGAO,COD_PROGRAMA_GOVERNO,COD_DETALHAMENTO,ANO_DESPESA,MES_DESPESA,MODALIDADE_DESPESA,VALOR_DESPESA
0,0,20000,24,8,2018,11,Reserva de Contingência,0.0
1,1,20000,24,10,2018,11,Reserva de Contingência,0.0
2,2,20000,24,10,2018,12,Reserva de Contingência,0.0
3,3,20000,24,11,2018,3,Reserva de Contingência,0.0
4,4,20000,24,11,2018,4,Reserva de Contingência,0.0
5,5,20000,24,11,2018,5,Reserva de Contingência,0.0
6,6,20000,24,11,2018,7,Reserva de Contingência,0.0
7,7,20000,24,11,2018,11,Reserva de Contingência,0.0
8,8,20000,29,4,2018,10,Reserva de Contingência,0.0
9,9,20000,29,4,2018,12,Reserva de Contingência,0.0
10,10,22000,22,35,2018,1,Reserva de Contingência,0.0
11,11,22000,22,35,2018,2,Reserva de Contingência,0.0
12,12,22000,22,35,2018,3,Reserva de Contingência,0.0
13,13,22000,22,35,2018,4,Reserva de Contingência,0.0
14,14,22000,22,35,2018,5,Reserva de Contingência,0.0
15,15,22000,22,35,2018,6,Reserva de Contingência,0.0
16,16,22000,22,35,2018,7,Reserva de Contingência,0.0
17,17,22000,22,35,2018,10,Reserva de Contingência,0.0
18,18,22000,22,35,2018,11,Reserva de Contingência,0.0
19,19,22000,22,35,2018,12,Reserva de Contingência,0.0
20,20,22000,24,10,2018,2,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
21,21,22000,24,10,2018,3,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
22,22,22000,24,10,2018,4,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
23,23,22000,24,10,2018,5,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
24,24,22000,24,10,2018,8,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
25,25,22000,24,10,2018,9,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
26,26,22000,24,10,2018,10,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
27,27,22000,24,10,2018,1,Reserva de Contingência,0.0
28,28,22000,24,10,2018,2,Reserva de Contingência,8215.7
29,29,22000,24,10,2018,3,Reserva de Contingência,0.0
...,...,...,...,...,...,...,...,...
1097,1097,55000,24,13,2018,3,Transferências a Estados e ao Distrito Federal,0.0
1098,1098,55000,24,13,2018,5,Transferências a Estados e ao Distrito Federal,0.0
1099,1099,55000,24,13,2018,6,Transferências a Estados e ao Distrito Federal,0.0
1100,1100,55000,24,13,2018,7,Transferências a Estados e ao Distrito Federal,0.0
1101,1101,55000,24,13,2018,8,Transferências a Estados e ao Distrito Federal,0.0
1102,1102,55000,24,13,2018,9,Transferências a Estados e ao Distrito Federal,0.0
1103,1103,55000,24,13,2018,10,Transferências a Estados e ao Distrito Federal,0.0
1104,1104,55000,24,13,2018,12,Transferências a Estados e ao Distrito Federal,0.0
1105,1105,55000,24,13,2018,1,Transferências a Instituições Privadas sem Fin...,0.0
1106,1106,55000,24,13,2018,2,Transferências a Instituições Privadas sem Fin...,0.0
1107,1107,55000,24,13,2018,3,Transferências a Instituições Privadas sem Fin...,0.0
1108,1108,55000,24,13,2018,5,Transferências a Instituições Privadas sem Fin...,0.0
1109,1109,55000,24,13,2018,6,Transferências a Instituições Privadas sem Fin...,0.0
1110,1110,55000,24,13,2018,7,Transferências a Instituições Privadas sem Fin...,0.0
1111,1111,55000,24,13,2018,8,Transferências a Instituições Privadas sem Fin...,0.0
1112,1112,55000,24,13,2018,10,Transferências a Instituições Privadas sem Fin...,0.0
1113,1113,55000,24,13,2018,12,Transferências a Instituições Privadas sem Fin...,0.0
1114,1114,55000,24,39,2018,1,Reserva de Contingência,0.0
1115,1115,55000,24,39,2018,2,Reserva de Contingência,0.0
1116,1116,55000,24,39,2018,3,Reserva de Contingência,0.0
1117,1117,55000,24,39,2018,4,Reserva de Contingência,0.0
1118,1118,55000,24,39,2018,5,Reserva de Contingência,0.0
1119,1119,55000,24,39,2018,6,Reserva de Contingência,0.0
1120,1120,55000,24,39,2018,7,Reserva de Contingência,0.0
1121,1121,55000,24,39,2018,8,Reserva de Contingência,0.0
1122,1122,55000,24,39,2018,9,Reserva de Contingência,0.0
1123,1123,55000,24,39,2018,10,Reserva de Contingência,0.0
1124,1124,55000,24,39,2018,11,Reserva de Contingência,0.0
1125,1125,55000,24,39,2018,12,Reserva de Contingência,0.0
1126,1126,81000,24,11,2018,5,Reserva de Contingência,0.0

In [9]:
subfuncao

    COD_SUBFUNCAO                                    NOME_SUBFUNCAO
0             122                               Administração geral
1             125                       Normatização e fiscalização
2             126                          Tecnologia da informação
3             127                           Ordenamento territorial
4             128                      Formação de recursos humanos
5             131                                Comunicação social
6             153                                  Defesa terrestre
7             181                                      Policiamento
8             182                                      Defesa civil
9             183                         Informação e inteligência
10            242            Assistência ao portador de deficiência
11            244                           Assistência comunitária
12            301                                    Atenção básica
13            302             Assistência hospitalar e ambulatorial
14            306                            Alimentação e nutrição
15            334                               Fomento ao trabalho
16            363                               Ensino profissional
17            364                                   Ensino superior
18            365                                 Educação infantil
19            368                                   Educação básica
20            421                    Custódia e reintegração social
21            422         Direitos individuais, coletivos e difusos
22            511                           Saneamento básico rural
23            541               Preservação e conservação ambiental
24            544                                 Recursos hídricos
25            571                        Desenvolvimento científico
26            572          Desenvolvimento tecnológico e engenharia
27            573  Difusão do conhecimento científico e tecnológico
28            606                                    Extensão rural
29            608                 Promoção da produção agropecuária
30            631                                   Reforma agrária
31            691                                Promoção comercial
32            846                         Outros encargos especiais
33            847             Transferências para a educação básica

In [10]:
funcao

    COD_FUNCAO            NOME_FUNCAO
0            3    Essencial à justiça
1            5        Defesa nacional
2            6      Segurança pública
3            8     Assistência social
4           10                  Saúde
5           11               Trabalho
6           12               Educação
7           14  Direitos da cidadania
8           15              Urbanismo
9           18       Gestão ambiental
10          19   Ciência e Tecnologia
11          20            Agricultura
12          21    Organização agrária
13          22              Indústria
14          26             Transporte
15          28     Encargos especiais

In [ ]:
detalhamento