In [6]:
import io
import sqlite3
import pandas as pd

In [7]:
!wget --quiet -P /tmp/ibd https://raw.githubusercontent.com/abnermneves/ibd/master/tp1/despesas.sql

In [10]:
conn = sqlite3.connect('/tmp/ibd/despesas.db')
cursor = conn.cursor()

In [11]:
f = io.open('/tmp/ibd/despesas.sql', 'r', encoding='UTF-8')
sql = f.read()
cursor.executescript(sql)

In [14]:
despesa = pd.read_sql_query('SELECT * FROM DESPESA_PUBLICA', conn)
orgao = pd.read_sql_query('SELECT * FROM ORGAO', conn)
programa = pd.read_sql_query('SELECT * FROM PROGRAMA_GOVERNO', conn)
funcao = pd.read_sql_query('SELECT * FROM FUNCAO', conn)
detalhamento = pd.read_sql_query('SELECT * FROM DETALHAMENTO_FUNCAO', conn)
subfuncao= pd.read_sql_query('SELECT * FROM SUBFUNCAO', conn)

In [63]:
qntd_subfuncoes = "SELECT COD_FUNCAO AS CF, COUNT() AS QNTDSF FROM DETALHAMENTO_FUNCAO as DF GROUP BY CF ORDER BY COUNT() DESC"
            
c1 = pd.read_sql_query("SELECT *, MAX(QNTDSF) FROM (%s)" % (qntd_subfuncoes), conn)
c1

   CF  QNTDSF  MAX(QNTDSF)
0   8       7            7

In [16]:
subfuncao

    COD_SUBFUNCAO                                    NOME_SUBFUNCAO
0             122                               Administração geral
1             125                       Normatização e fiscalização
2             126                          Tecnologia da informação
3             127                           Ordenamento territorial
4             128                      Formação de recursos humanos
5             131                                Comunicação social
6             153                                  Defesa terrestre
7             181                                      Policiamento
8             182                                      Defesa civil
9             183                         Informação e inteligência
10            242            Assistência ao portador de deficiência
11            244                           Assistência comunitária
12            301                                    Atenção básica
13            302             Assistência hospitalar e ambulatorial
14            306                            Alimentação e nutrição
15            334                               Fomento ao trabalho
16            363                               Ensino profissional
17            364                                   Ensino superior
18            365                                 Educação infantil
19            368                                   Educação básica
20            421                    Custódia e reintegração social
21            422         Direitos individuais, coletivos e difusos
22            511                           Saneamento básico rural
23            541               Preservação e conservação ambiental
24            544                                 Recursos hídricos
25            571                        Desenvolvimento científico
26            572          Desenvolvimento tecnológico e engenharia
27            573  Difusão do conhecimento científico e tecnológico
28            606                                    Extensão rural
29            608                 Promoção da produção agropecuária
30            631                                   Reforma agrária
31            691                                Promoção comercial
32            846                         Outros encargos especiais
33            847             Transferências para a educação básica

In [17]:
funcao

    COD_FUNCAO            NOME_FUNCAO
0            3    Essencial à justiça
1            5        Defesa nacional
2            6      Segurança pública
3            8     Assistência social
4           10                  Saúde
5           11               Trabalho
6           12               Educação
7           14  Direitos da cidadania
8           15              Urbanismo
9           18       Gestão ambiental
10          19   Ciência e Tecnologia
11          20            Agricultura
12          21    Organização agrária
13          22              Indústria
14          26             Transporte
15          28     Encargos especiais

In [18]:
detalhamento

    COD_DETALHAMENTO  COD_FUNCAO  COD_SUBFUNCAO
0                  0           3            131
1                  1           5            122
2                  2           5            153
3                  3           6            122
4                  4           6            181
5                  5           6            182
6                  6           6            183
7                  7           8            125
8                  8           8            126
9                  9           8            131
10                10           8            244
11                11           8            306
12                12           8            365
13                13           8            511
14                14          10            128
15                15          10            301
16                16          10            302
17                17          11            334
18                18          12            302
19                19          12            363
20                20          12            364
21                21          12            368
22                22          12            847
23                23          14            242
24                24          14            421
25                25          14            422
26                26          15            244
27                27          18            541
28                28          18            544
29                29          19            571
30                30          19            572
31                31          20            573
32                32          20            608
33                33          21            125
34                34          21            127
35                35          21            606
36                36          21            631
37                37          22            691
38                38          26            122
39                39          28            846