In [1]:
import io
import sqlite3
import pandas as pd

In [2]:
!wget --quiet -P /tmp/ibd https://raw.githubusercontent.com/abnermneves/ibd/master/tp1/despesas.sql

In [3]:
conn = sqlite3.connect('despesas.db')
cursor = conn.cursor()

In [4]:
f = io.open('despesas.sql', 'r', encoding='UTF-8')
sql = f.read()
cursor.executescript(sql)

OperationalError: table [ORGAO] already exists

In [5]:
despesa = pd.read_sql_query('SELECT * FROM DESPESA_PUBLICA', conn)
orgao = pd.read_sql_query('SELECT * FROM ORGAO', conn)
programa = pd.read_sql_query('SELECT * FROM PROGRAMA_GOVERNO', conn)
funcao = pd.read_sql_query('SELECT * FROM FUNCAO', conn)
detalhamento = pd.read_sql_query('SELECT * FROM DETALHAMENTO_FUNCAO', conn)
subfuncao= pd.read_sql_query('SELECT * FROM SUBFUNCAO', conn)

<h1>Consulta 1</h1>

In [6]:
c1 = pd.read_sql_query("SELECT COD_SUBFUNCAO, NOME_SUBFUNCAO FROM DETALHAMENTO_FUNCAO NATURAL JOIN FUNCAO NATURAL JOIN SUBFUNCAO WHERE COD_FUNCAO = (SELECT CF FROM (SELECT *, MAX(QNTDSF) FROM (SELECT COD_FUNCAO AS CF, COUNT() AS QNTDSF FROM DETALHAMENTO_FUNCAO as DF GROUP BY CF)))", conn)
c1

   COD_SUBFUNCAO               NOME_SUBFUNCAO
0            125  Normatização e fiscalização
1            126     Tecnologia da informação
2            131           Comunicação social
3            244      Assistência comunitária
4            306       Alimentação e nutrição
5            365            Educação infantil
6            511      Saneamento básico rural

<h1>Consulta 6</h1>

In [7]:
c6 = pd.read_sql_query("select NOME_FUNCAO, NOME_SUBFUNCAO, SUM(VALOR_DESPESA) as VALOR_TOTAL from FUNCAO natural join DETALHAMENTO_FUNCAO natural join SUBFUNCAO natural join DESPESA_PUBLICA as DP natural join PROGRAMA_GOVERNO as PG where PG.NOME_PROGRAMA_GOVERNO = 'MAIS MEDICOS' and ANO_DESPESA = 2018 and MES_DESPESA < 10 and MES_DESPESA > 6 group by COD_FUNCAO, COD_SUBFUNCAO", conn)
c6

       NOME_FUNCAO                         NOME_SUBFUNCAO  VALOR_TOTAL
0  Defesa nacional                    Administração geral            0
1            Saúde                         Atenção básica        11000
2         Educação  Assistência hospitalar e ambulatorial            0
3         Educação                        Ensino superior         2400

<h1>Consulta 5</h1>

In [8]:
c5 = pd.read_sql_query("select COD_PROGRAMA_GOVERNO, NOME_PROGRAMA_GOVERNO from (select *, SUM(VALOR_DESPESA) as DESPESAS_TOTAIS from FUNCAO natural join DETALHAMENTO_FUNCAO natural join DESPESA_PUBLICA natural join PROGRAMA_GOVERNO where NOME_FUNCAO = 'Educação' and ANO_DESPESA = 2018 group by COD_PROGRAMA_GOVERNO order by DESPESAS_TOTAIS desc limit 3)", conn)
c5

   COD_PROGRAMA_GOVERNO NOME_PROGRAMA_GOVERNO
0                    11                  ENEM
1                    14              PRONATEC
2                    35          MAIS MEDICOS

<h1>Consulta 7</h1>

In [9]:
c7 = pd.read_sql_query("select NOME_ORGAO, count(distinct COD_PROGRAMA_GOVERNO) as QNTD_PROGRAMAS_GOVERNO from ORGAO natural join DESPESA_PUBLICA natural join PROGRAMA_GOVERNO where VALOR_DESPESA > 0 group by COD_ORGAO", conn)
c7

                                      NOME_ORGAO  QNTD_PROGRAMAS_GOVERNO
0  Ministério da Agricultura, Pecuária e Abastec                       2
1                         Ministério da Educação                       4
2                            Ministério da Saúde                       2
3                           Ministério da Defesa                       2
4           Ministério do Desenvolvimento Social                       1

<h1>Consulta 2</h1>

In [10]:
c2 = pd.read_sql_query("select NOME_FUNCAO, NOME_SUBFUNCAO, sum(VALOR_DESPESA) as DESPESAS_TOTAIS from DESPESA_PUBLICA natural join DETALHAMENTO_FUNCAO natural join FUNCAO natural join SUBFUNCAO group by COD_FUNCAO, COD_SUBFUNCAO having DESPESAS_TOTAIS > 200000", conn)
c2

          NOME_FUNCAO           NOME_SUBFUNCAO  DESPESAS_TOTAIS
0  Assistência social  Assistência comunitária        227883.77
1            Educação          Educação básica        334262.06

<h1>Consulta 8</h1>

In [11]:
c8 = pd.read_sql_query("select NOME_PROGRAMA_GOVERNO, NOME_SUBFUNCAO, count(COD_DESPESA) as QNTD_DESPESAS, sum(VALOR_DESPESA) as DESPESAS_TOTAIS from PROGRAMA_GOVERNO natural join DESPESA_PUBLICA natural join DETALHAMENTO_FUNCAO natural join SUBFUNCAO group by COD_PROGRAMA_GOVERNO, COD_SUBFUNCAO", conn)
c8

,NOME_PROGRAMA_GOVERNO,NOME_SUBFUNCAO,QNTD_DESPESAS,DESPESAS_TOTAIS
0,VIVER SEM LIMITE,Normatização e fiscalização,11,0.00
1,VIVER SEM LIMITE,Assistência ao portador de deficiência,5,0.00
2,VIVER SEM LIMITE,Assistência comunitária,19,0.00
3,VIVER SEM LIMITE,Atenção básica,18,0.00
4,VIVER SEM LIMITE,Assistência hospitalar e ambulatorial,56,0.00
5,VIVER SEM LIMITE,Ensino superior,19,0.00
6,VIVER SEM LIMITE,Educação básica,1,0.00
7,VIVER SEM LIMITE,Desenvolvimento científico,8,0.00
8,VIVER SEM LIMITE,Desenvolvimento tecnológico e engenharia,11,0.00
9,VIVER SEM LIMITE,Transferências para a educação básica,2,0.00
10,SOS EMERGENCIA,Assistência hospitalar e ambulatorial,3,0.00
11,MELHOR EM CASA,Atenção básica,1,0.00
12,MELHOR EM CASA,Assistência hospitalar e ambulatorial,15,0.00
13,UBS,Atenção básica,9,0.00
14,"UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...",Assistência hospitalar e ambulatorial,12,0.00
15,REDE CEGONHA,Assistência hospitalar e ambulatorial,38,1210.00
16,CONTROLE DO CANCER,Assistência hospitalar e ambulatorial,40,38971.19
17,CIENCIA SEM FRONTEIRAS,Ensino superior,12,0.00
18,CIENCIA SEM FRONTEIRAS,Desenvolvimento científico,12,0.00
19,CRIMINALIDADE VIOLENTA,Policiamento,1,0.00
20,ENEM,Educação básica,53,334262.06
21,PROVA BRASIL,Educação básica,22,0.00
22,PRONATEC,Ensino profissional,33,60262.46
23,GESTAO AEROPORTUARIA,Administração geral,18,0.00
24,DESASTRES NATURAIS,Defesa civil,6,0.00
25,DESASTRES NATURAIS,Desenvolvimento científico,4,0.00
26,CADEIAS PUBLICAS,Custódia e reintegração social,9,0.00
27,OLIMPIADAS,Defesa terrestre,8,0.00
28,OLIMPIADAS,Informação e inteligência,5,0.00
29,SINESP,Policiamento,9,0.00
...,...,...,...,...
35,"CRACK, E POSSIVEL VENCER",Assistência comunitária,12,0.00
36,"CRACK, E POSSIVEL VENCER",Atenção básica,5,0.00
37,"CRACK, E POSSIVEL VENCER",Assistência hospitalar e ambulatorial,19,0.00
38,"CRACK, E POSSIVEL VENCER","Direitos individuais, coletivos e difusos",46,0.00
39,BRASIL SEM MISERIA,Tecnologia da informação,26,58918.28
40,BRASIL SEM MISERIA,Comunicação social,1,0.00
41,BRASIL SEM MISERIA,Assistência comunitária,117,227883.77
42,BRASIL SEM MISERIA,Alimentação e nutrição,112,100373.55
43,BRASIL SEM MISERIA,Fomento ao trabalho,1,0.00
44,BRASIL SEM MISERIA,Educação infantil,2,0.00
45,BRASIL SEM MISERIA,Saneamento básico rural,27,0.00
46,BRASIL SEM MISERIA,Preservação e conservação ambiental,1,0.00
47,BRASIL SEM MISERIA,Recursos hídricos,34,0.00
48,BRASIL SEM MISERIA,Difusão do conhecimento científico e tecnológico,13,0.00
49,BRASIL SEM MISERIA,Extensão rural,17,0.00
50,BRASIL SEM MISERIA,Promoção comercial,18,0.00
51,BRASIL SEM MISERIA,Outros encargos especiais,12,0.00
52,REGULARIZACAO FUNDIARIA,Normatização e fiscalização,2,0.00
53,REGULARIZACAO FUNDIARIA,Ordenamento territorial,29,1497.26
54,REGULARIZACAO FUNDIARIA,Reforma agrária,11,0.00
55,SATELITE (TELEBRAS),Desenvolvimento tecnológico e engenharia,7,0.00
56,ENAFRON,Policiamento,14,0.00
57,VIOLENCIA NO TRANSITO,Policiamento,15,0.00
58,SEGURO RURAL PRIVADO,Promoção da produção agropecuária,10,0.00
59,PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...,Atenção básica,2,0.00
60,MAIS MEDICOS,Administração geral,12,0.00
61,MAIS MEDICOS,Formação de recursos humanos,2,0.00
62,MAIS MEDICOS,Atenção básica,43,12000.00
63,MAIS MEDICOS,Assistência hospitalar e ambulatorial,8,0.00
64,MAIS MEDICOS,Ensino superior,25,2400.00

<h1>Consulta 12</h1>

In [12]:
c12 = pd.read_sql_query("select distinct NOME_FUNCAO, NOME_SUBFUNCAO from FUNCAO Natural join DETALHAMENTO_FUNCAO natural join SUBFUNCAO", conn)
c12

              NOME_FUNCAO                                    NOME_SUBFUNCAO
0     Essencial à justiça                                Comunicação social
1         Defesa nacional                               Administração geral
2         Defesa nacional                                  Defesa terrestre
3       Segurança pública                               Administração geral
4       Segurança pública                                      Policiamento
5       Segurança pública                                      Defesa civil
6       Segurança pública                         Informação e inteligência
7      Assistência social                       Normatização e fiscalização
8      Assistência social                          Tecnologia da informação
9      Assistência social                                Comunicação social
10     Assistência social                           Assistência comunitária
11     Assistência social                            Alimentação e nutrição
12     Assistência social                                 Educação infantil
13     Assistência social                           Saneamento básico rural
14                  Saúde                      Formação de recursos humanos
15                  Saúde                                    Atenção básica
16                  Saúde             Assistência hospitalar e ambulatorial
17               Trabalho                               Fomento ao trabalho
18               Educação             Assistência hospitalar e ambulatorial
19               Educação                               Ensino profissional
20               Educação                                   Ensino superior
21               Educação                                   Educação básica
22               Educação             Transferências para a educação básica
23  Direitos da cidadania            Assistência ao portador de deficiência
24  Direitos da cidadania                    Custódia e reintegração social
25  Direitos da cidadania         Direitos individuais, coletivos e difusos
26              Urbanismo                           Assistência comunitária
27       Gestão ambiental               Preservação e conservação ambiental
28       Gestão ambiental                                 Recursos hídricos
29   Ciência e Tecnologia                        Desenvolvimento científico
30   Ciência e Tecnologia          Desenvolvimento tecnológico e engenharia
31            Agricultura  Difusão do conhecimento científico e tecnológico
32            Agricultura                 Promoção da produção agropecuária
33    Organização agrária                       Normatização e fiscalização
34    Organização agrária                           Ordenamento territorial
35    Organização agrária                                    Extensão rural
36    Organização agrária                                   Reforma agrária
37              Indústria                                Promoção comercial
38             Transporte                               Administração geral
39     Encargos especiais                         Outros encargos especiais

<h1>Consulta 13</h1>

In [13]:
c13 = pd.read_sql_query("select distinct MODALIDADE_DESPESA, VALOR_DESPESA, NOME_PROGRAMA_GOVERNO from PROGRAMA_GOVERNO natural join (select distinct * from DESPESA_PUBLICA where MODALIDADE_DESPESA = 'Reserva de Contingência')", conn)
c13

,MODALIDADE_DESPESA,VALOR_DESPESA,NOME_PROGRAMA_GOVERNO
0,Reserva de Contingência,0.00,BRASIL SEM MISERIA
1,Reserva de Contingência,0.00,VIOLENCIA NO TRANSITO
2,Reserva de Contingência,0.00,TERRITORIOS DA CIDADANIA
3,Reserva de Contingência,8215.70,BRASIL SEM MISERIA
4,Reserva de Contingência,3.42,BRASIL SEM MISERIA
5,Reserva de Contingência,81120.13,BRASIL SEM MISERIA
6,Reserva de Contingência,0.00,REGULARIZACAO FUNDIARIA
7,Reserva de Contingência,1497.26,REGULARIZACAO FUNDIARIA
8,Reserva de Contingência,0.00,SEGURO RURAL PRIVADO
9,Reserva de Contingência,0.00,VIVER SEM LIMITE
10,Reserva de Contingência,0.00,CIENCIA SEM FRONTEIRAS
11,Reserva de Contingência,0.00,GESTAO AEROPORTUARIA
12,Reserva de Contingência,0.00,DESASTRES NATURAIS
13,Reserva de Contingência,0.00,SATELITE (TELEBRAS)
14,Reserva de Contingência,0.00,MELHOR EM CASA
15,Reserva de Contingência,1210.00,REDE CEGONHA
16,Reserva de Contingência,0.00,REDE CEGONHA
17,Reserva de Contingência,0.00,CONTROLE DO CANCER
18,Reserva de Contingência,0.00,ENEM
19,Reserva de Contingência,135.36,ENEM
20,Reserva de Contingência,0.00,PROVA BRASIL
21,Reserva de Contingência,2000.00,PRONATEC
22,Reserva de Contingência,0.00,PRONATEC
23,Reserva de Contingência,18178.00,PRONATEC
24,Reserva de Contingência,28073.08,PRONATEC
25,Reserva de Contingência,385.38,PRONATEC
26,Reserva de Contingência,5900.00,PRONATEC
27,Reserva de Contingência,0.00,CADEIAS PUBLICAS
28,Reserva de Contingência,0.00,"CRACK, E POSSIVEL VENCER"
29,Reserva de Contingência,0.00,MAIS MEDICOS
30,Reserva de Contingência,2400.00,MAIS MEDICOS
31,Reserva de Contingência,0.00,CRIMINALIDADE VIOLENTA
32,Reserva de Contingência,0.00,OLIMPIADAS
33,Reserva de Contingência,0.00,SINESP
34,Reserva de Contingência,0.00,ENAFRON
35,Reserva de Contingência,0.00,"UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL..."
36,Reserva de Contingência,38971.19,CONTROLE DO CANCER
37,Reserva de Contingência,11000.00,MAIS MEDICOS
38,Reserva de Contingência,1000.00,MAIS MEDICOS
39,Reserva de Contingência,334126.70,ENEM
40,Reserva de Contingência,19250.00,BRASIL SEM MISERIA
41,Reserva de Contingência,58918.28,BRASIL SEM MISERIA

<h1>Consulta 14</h1>

In [14]:
c14 = pd.read_sql_query("select distinct VALOR_DESPESA, NOME_ORGAO from DESPESA_PUBLICA natural join (select * from ORGAO where NOME_ORGAO = 'Ministério da Fazenda')", conn)
c14

   VALOR_DESPESA             NOME_ORGAO
0              0  Ministério da Fazenda

<h1>Consulta 15</h1>

In [15]:
c15 = pd.read_sql_query("select distinct NOME_PROGRAMA_GOVERNO, VALOR_DESPESA from DESPESA_PUBLICA natural join (select distinct * from ORGAO where NOME_ORGAO = 'Ministério da Saúde') natural join PROGRAMA_GOVERNO", conn)
c15

                                NOME_PROGRAMA_GOVERNO  VALOR_DESPESA
0                                    VIVER SEM LIMITE           0.00
1                                      SOS EMERGENCIA           0.00
2                                      MELHOR EM CASA           0.00
3                                                 UBS           0.00
4   UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...           0.00
5                                        REDE CEGONHA           0.00
6                                  CONTROLE DO CANCER           0.00
7                                  CONTROLE DO CANCER       38971.19
8                            CRACK, E POSSIVEL VENCER           0.00
9                                  BRASIL SEM MISERIA           0.00
10  PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...           0.00
11                                       MAIS MEDICOS           0.00
12                                       MAIS MEDICOS       11000.00
13                                       MAIS MEDICOS        1000.00